<html>
    <head>
        <style>
            
                 input{
                     font-family:Arial, Helvetica, sans-serif;
                     color: rgb(224, 77, 89);
                     background-color: #ffd31d;
                     
                     
                     }
                     button{
                font-family: Arial, Helvetica, sans-serif;
                justify-content: center;
                color: #ff5200;
                background-color:#4d089a;
                 border-radius: 50px;
                 
                 }
                 input{ font-family:Arial, Helvetica, sans-serif;
                     color: rgb(224, 77, 89);
                     background-color: #ffd31d;
                     justify-content: center;
                     
                     
                 }
                 .card{
                     border: coral;
                     font-family: Arial, Helvetica, sans-serif ;
                     color: blueviolet;
                     background-color: chartreuse;
                     justify-content: center;
                     margin-left: 50%;
                     margin-top: 25%;
                     padding: 20px;
                     height: 250px; width: 250px;
                 }
        body{
            background-image: url('calculator2.png');
        }    
             
                

        </style>
    </head>
    <body>
        
        <div class="card">
            <h1>My Calculator</h1>
            <input type="text">
        <p>+</p>
        <input type="number">
        <button type="submit">Submit</button>
            
    </div>
        

        
        
          

            
        
    </body>
</html>